{% extends "base.html" %} {% block title %}Items {% endblock %} {% block content %}

<body>

    <nav class="navbar navbar-inverse fixed-top bg-faded navbar-toggleable-sm ">
        <div class="container">
            <a href="{{ url_for('lister.shopping_list') }}" class="navbar-brand m-o align-content-end mr-auto">
                Shopping Lister
            </a>
            <div class="navbar-nav ">
                <a class="nav-item nav-link" href="#">{{ user.email }}</a>
                <a class="nav-item nav-link" href="{{ url_for('lister.logout') }}"> Log Out </a>
            </div>
        </div>
    </nav>

    <div class="container items">
        <div class="float-right mb-5">
            <div class="row">
                <div class="col">
                    <button class=" btn btn-success" data-toggle="modal" data-target="#myModal">Add Items
                    </button>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissable offset-3 col-6">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Item</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>

                    <!-- modal body-->
                    <div class="modal-body">
                        <form class="form-horizontal" action="{{ url_for('lister.add_item', list_id=shoppinglist.list_id) }}" method="post">
                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="name">Name</label>
                                        <div class="col">
                                            <input class="form-control" id="name" name="name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="quantity">Quantity</label>
                                        <div class="col">
                                            <input class="form-control" id="quantity" name="quantity" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="price">Price</label>
                                        <div class="col">
                                            <input class="form-control" id="price" name="price" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Table displaying list items-->
        {% if shoppinglist %}
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th colspan="2" class="text-md-center">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for id, item in shoppinglist.items.items() %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td class="text-right"><a href="{{ url_for('lister.edit_item', list_id=shoppinglist.list_id, item_id=item.item_id) }}" class="btn btn-link">edit</a></td>
                    <td class="text-right"><a href="{{ url_for('lister.delete_item', list_id=shoppinglist.list_id, item_id=item.item_id) }}" class="btn btn-link">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <h1 class="text-center d-flex align-item-center justify-content-center">There are no items in {{ shoppinglist.name }} </h1>
        {% endif %}
    </div>
</body>
{% endblock %}