{% extends "base.html" %}
{% block title %}Edit Item{% endblock %}
{% block content %}
    <body>

    <!-- header navigation bar -->
    <nav class="navbar navbar-inverse fixed-top bg-faded navbar-toggleable-sm ">
        <div class="container">
            <a href="{{ url_for("lister.shopping_list") }}" class="navbar-brand m-o align-content-end mr-auto">
                Shopping Lister
            </a>
            <div class="navbar-nav ">
                {% if user %}
                    <a class="nav-item nav-link" href="#">{{ user.email }}</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{ url_for("lister.logout") }}">Log Out</a>
            </div>
        </div>
    </nav>

    <!-- Editing an item -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissable offset-2">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="container new_list_background card col-6">
                <form action="{{ url_for("lister.edit_item", list_id=shoppinglist.list_id, item_id=item.item_id) }}"
                      method="post">
                    <h2 class="text-capitalize card-title mt-1">Edit List Item</h2>
                    <div class="row">
                        <div class="col">
                            <!-- name-->
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="name">Item</label>
                                <div class="col">
                                    <input class="form-control" id="name" name="name" value="{{ item.name }}" required>
                                </div>
                            </div>

                            <!--quantity-->
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="quantity">Quantity</label>
                                <div class="col">
                                    <input class="form-control" id="quantity" name="quantity" value="{{ item.quantity }}" required>
                                </div>
                            </div>

                            <!--price-->
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="price">Price</label>
                                <div class="col">
                                    <input class="form-control" id="price" name="price" value="{{ item.price }}" required>
                                </div>
                            </div>
                            <!--save button-->
                            <div class="form-group">
                                <div>
                                    <button class="btn btn-success ">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}